.card{
    border-style: none;
}

.bckgrnd-img{
    position: relative;
}
.caption{
    position: absolute;
    top: 45%;
    left: 100;
    width: 50%;
}

.card-link{
    color: #333333;
    text-align: left;
    padding-left: 50px;
}
h5 p{
    text-decoration: none;
}
h5 p:hover{
    text-decoration: underline;
}

.btn-primary{
    color: gray;
    background-color: white;
    border-color: gray;
    margin-left: -350px;
}