.card{
    background-color: #fcd971;
    text-align: center;
    width: 20rem;
}

.card-link{
    color: #333333;
    text-decoration: none;
}
.card-link:hover{
    text-decoration: underline;
}

.description{
    color: #333333; 
    max-width: 15px;
    word-wrap: break-word; 
}