<ul class="nav">
    <li class="nav-item">
        <a href="" class="nav-link text-white">
            <img src="assets/Color-Target-logo.png" alt="" width="54" height="48">
        </a>
    </li>

    <style>
        .nav-link{
            color: white;
            font: bold;
        }
    </style>

    <li class="nav-item dropdown mt-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categories
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Celebrate Black History Month</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Valentine's Day</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Health & Wellness</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Grocery</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Women</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Men</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Young Adult</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Kids</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Shoes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Baby</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Home</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Patio & Garden</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Furniture</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Kitchen & Dining</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Toys</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Electronics</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Video Games</a>
        </ul>
    </li>

    <li class="nav-item dropdown mt-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Deals
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Clearance</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Weekly Ad</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Top Deals</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">RedCard Exclusives</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Target Circle Offers</a>
        </ul>
    </li>


    <li class="nav-item dropdown mt-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            What's New
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">#TargetStyle</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Women's New Arrivals</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Beauty New Arrivals</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Kids' New Arrivals</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Men's New Arrivals</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Home New Arrivals</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Target Finds</a>
        </ul>
    </li>

    <li class="nav-item dropdown mt-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Pickup & Delivery
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Order Pickup</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Same Day Delivery</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Drive Up</a></li>
        </ul>
    </li>

</ul>