.nav-link{
    color: white;
    font: bold;
}

li a{
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

.dropdown-menu{
    width: 320px;
    text-align: left;
    position: absolute;
    top: 68px; 
    left: -50px;
}
.cat-dropdown {
    max-height: 700px;
    overflow-y: scroll;
    width: 400px;
    text-align: left;
    position: absolute;
    top: 68px; 
    left: -99px;
  }

  .main-menu{
      text-emphasis: bold;
  }