<nav class = "navbar navbar-light" style="background-color: #cc0000;">
    <div class = "container-fluid">
        <ul class = "nav">
            <li class = "nav-item">
                <a href = "" class = "nav-link text-white">Categories</a>
            </li>
            <li class = "nav-item">
                <a href = "" class = "nav-link text-white">Deals</a>
            </li>
            <li class = "nav-item">
                <a href = "" class = "nav-link text-white">What's New</a>
            </li>
            <li class = "nav-item">
                <a href = "" class = "nav-link text-white">Pickup & Delivery</a>
            </li>
            <div class="btn-group">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Large button
                </button>
                <div class="dropdown-menu">
                  ...
                </div>
              </div>
        </ul>
    </div>
</nav>