<ul class="nav">  

    <form>
        <div class="input-group mt-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
            <span class="input-group-text">
                <svg class="bi" width="24" height="20" fill="black">
                    <use xlink:href="assets/bootstrap-icons.svg#search"/>
                </svg>
            </span>
        </div>
    </form>
    


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
    <li class="nav-item">
        <a href="" class="nav-link text-gray">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#person-circle" />
            </svg>
        </a>
    </li>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="#">Sign in</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="#">Create account</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="#">Orders</a></li>
        <div class="dropdown-divider"></div>
        <li>
            <a href="" class="nav-link text-white">
                <img src="assets/target-circle.PNG" alt="" width="96" height="44">
            </a>
        </li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="#">Gift Cards</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="#">RedCard</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="#">Buy it Again</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="#">My Store</a></li>
    </ul>
    </li>

    <li class="nav-item">
        <a href="" class="nav-link mt-2">
            <svg class="bi" width="24" height="24" fill="white">
                <use xlink:href="assets/bootstrap-icons.svg#cart3" />
            </svg>
        </a>
    </li>
</ul>