.nav-link {
    color: white;
}

.dropdown-menu {
    width: 400px;
    text-align: left;
    position: absolute;
    top: 88px; 
    left: -241px;
  }

.input-group{
    text-align: left;
}

.input-group input{
    width: 541.33px;
    border-radius: 25px;
}

.input-group span{
    border-radius: 25px;
}