.round-card{
    width: 200px;
    height: 200px;
}

.card-link{
    color: #333333;
    text-align: center;
}

.image-link{
    width: 162px;
    height: 162px;
}

p a{
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}

.card{
    border-style: none;
}