.info-text{
    color: gray;
}

.url{
    text-decoration: underline;
    color: gray;
}

.url:hover{
    text-decoration: none;
}

.left{
    float: left;
    text-align: left;
}

.right{
    float: right;
    text-align: right;
}