<div class="card">
    <div class="card-img">
        <img src="./assets/Grocery/dietcoke.png" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <a class="url card-link">Diet Coke - 12pk/12 fl oz Cans</a>
    </div>

    <div class="card-body">
        <h5 class="card-price">$5.79</h5>
        <a class="url red-card-link" width="178px">Buy 3 for $14 with same-day order services</a><br>
        <button type="button" class="btn btn-primary">Pick it up</button>
    </div>
</div>