<button type="button" class="btn btn-primary">
    <svg class="icon1" width="16" height="16" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#bag-dash-fill" />
      </svg>
    Picking up
</button>

<button type="button" class="btn btn-primary">
    <svg class="icon2" width="16" height="16" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#bag-fill" />
      </svg>
    Same Day Delivery
</button>

<button type="button" class="btn btn-primary">
    <svg class="icon3" width="16" height="16" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#shop" />
      </svg>
    Making a list
</button>

<button type="button" class="btn btn-primary">
    <svg class="icon4" width="16" height="16" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#archive-fill" />
      </svg>
    Shipping
</button>