<target-topnavbar>Loading...</target-topnavbar>

<target-secondarynavbar>Loading...</target-secondarynavbar>

<target-valentines-ad>Loading...</target-valentines-ad>

<div class="container-fluid d-flex">
<target-valentines-boxcard>Loading...</target-valentines-boxcard>
<target-valentines-boxcard>Loading...</target-valentines-boxcard>
<target-valentines-boxcard>Loading...</target-valentines-boxcard>
<target-valentines-boxcard>Loading...</target-valentines-boxcard>
</div>

<div class="container-fluid d-flex">
<target-circular-category-card>Loading...</target-circular-category-card>
<target-circular-category-card>Loading...</target-circular-category-card>
<target-circular-category-card>Loading...</target-circular-category-card>
</div>