<ul>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Registry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Weekly Ad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">RedCard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gift Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Find Stores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Orders</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link text-gray">
            <svg class="bi" width="16" height="16" fill="currentColor">
              <use xlink:href="assets/bootstrap-icons.svg#suit-heart" />
            </svg>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Shipping and Order Services</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Target App</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Pharmacy</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Gift Ideas</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </ul>